<!doctype html>
<html>
 <head>
 <title>ROB_result</title>
 </head>
 <body style="background-image: url('https://media.npr.org/assets/img/2015/10/21/london-taxi-getty_custom-81217379f05f69e0a5de70eff24346500f48048d-s1600-c85.jpg');background-repeat: no-repeat;background-size: cover;">
<style>
	.center {
	  margin: 0;
	  position: absolute;
	  top: 20%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}
</style>
  <div class="center">
 <h2 style="font-family:Times New Roman;color:White">Based on the information provided,</h2>
 <h2 style="font-family:Times New Roman;color:White">{{ result }}</strong></h2>
 </body>
</html>